<% layout('layouts/boilerplate')%>
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">
        <%= err.message %> 
    </h4>
    <p> 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Iste, quisquam. Repudiandae dignissimos quod error eaque 
        placeat quas veniam expedita quae molestiae magni debitis
        maxime laudantium fugiat aliquam optio, eos quaerat
    </p>
    <hr>
    <p class="mb-0">Whenever wherever</p>
</div>